* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section {
    padding: 100px;
}

.banner {
    position: relative;
    background:darkslategrey;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner h2 {
    font-size: x-large;
    color:maroon;
    font-weight: 500;
    line-height: 2cm;
}

.banner h2 span {
    font-size: medium;
    font-weight: 650;
}

.AboutMebox {
    flex: 0 0 33%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 120px;
    display: flex;
    justify-content: space-around;
    background:darkslategrey;
    align-items: center;
    z-index: 1000;
}

header .logo {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration-color: mediumpurple;
    font-weight: 800;
    letter-spacing: 2px;
}
header ul {
    position: relative;
    display: flex;
}
header ul li {
    position: relative;
    list-style: none;
}
header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: mistyrose;
    text-decoration-color: orchid;
}

main {
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
}

.Project .content {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
}

.Projectbox {
    flex: 0 0 33%;
}

.Projectbox img {
    width: 100%;
}